:root {
 --ch-bl:#96bae8; 
 --cl-help: #737373;
--cl-or-sp:#e8aa80;
--cl-clct:#e5e5e561;
--cl-slct:#aad2ad;
--spl-hv-cl:#fdf4ee;
--vr-pl-bl-cl:#8c78f3;
--vr-pl-bl-cl-op:#e8e4ff;
--vr-pl-bl-cl-op-hv:#e8e4ff;
--kra:hsl(0, 75%, 79.6%); 
--zel:hsl(70.4, 71.4%, 79.4%);
--gol:hsl(190.4, 71.4%, 79.4%); 
--jel:hsl(49, 83.1%, 76.9%);
--zgl-h:#bf9636; 
--zglv:#443a61eb;
}

.b-collection-filters .b-block_list li input[type="checkbox"]:before,
.b-collection-filters .b-block_list li input[type="checkbox"]:checked:before,
.b-collection-filters .b-block_list.orders li.selected::before,
.b-collection-filters .b-block_list.orders li::before,
.b-collection-filters .b-block_list li .b-question::before,
a.link.link-next:before,
a.link.link-prev:before,
.item-sign:before,
.item-add:before, .very-pale-blue .b-spoiler_block > span:after,
.very-pale-blue .b-spoiler_block.is-opened > span:after, .c-orange .b-spoiler_block > span:after,  .c-orange .b-spoiler_block.is-opened > span:after,.item-add:before 
{
  font-family: reily;
}

/* Видео*/

.col {
  display: grid;
  grid-template-columns: repeat(9, auto);
  grid-template-rows: auto;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}

@media (max-width: 768px) {
  .col {
    grid-template-columns: repeat(4, auto);
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .col {
    grid-template-columns: repeat(6, auto);
  }
}

/* Спойлер */

.b-spoiler_block > span:after {
  position: absolute;
  right: 1em;
}

.b-spoiler_block.is-opened > span {
  border-radius: 8px 8px 0 0;
}

.b-spoiler_block > span {
  background: var(--very-light) !important;
  padding: 6px 20px;
  color: black;
  font-size: 15px;
  line-height: 26px;
  width: 100%;
  border: 1px solid var(--spl);
  border-radius: 8px;
}
.b-spoiler_block > span:hover {
  background: transparent !important;
}

.b-spoiler_block > div {
  background: var(--bg-spl);
  border-left: none;
  border-radius: 0 0 8px 8px;
  width: 100%;
  margin-top: 0;
  border: 1px solid var(--spl1);
  border-top: 0;
}

.b-spoiler_block>div {
  padding: 4pt;
}


/* Фиксированные размеры постеров */

.b-catalog_entry .cover .image-cutter {
  max-width: none !important;
  max-height: none !important;
}

.b-catalog_entry .cover .image-cutter::before {
  content: "";
  display: block;
  padding-bottom: 155.5555%;
}

.b-catalog_entry .cover .image-cutter img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

/*Увеличиваем Изображения*/

.b-catalog_entry.c-character .cover .image-cutter img,
.b-catalog_entry.c-person .cover .image-cutter img {
  transform: scale(1.028);
  -webkit-transform: scale(1.028);
  -moz-transform: scale(1.028);
  -ms-transform: scale(1.028);
}


/*блок лист*/

.b-block_list li {
  padding: 0 0 2px 3px;
}

.b-block_list li.selected,
.b-block_list li:hover {
  background-color: var(--cl-clct);
  color: #123;
  border-radius: 0.255rem;
  padding: 0 0 2px 3px;
}

.item-add:before,
.item-add:after {
  line-height: initial;
}

/*- Чэкбоксы -*/

.b-collection-filters .b-block_list li input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  color: var(--ch-bl);
}

.b-collection-filters .b-block_list li input[type="checkbox"]:before {
  content: '\f10c';
  font-size: 16px;
  vertical-align: middle;
}

.b-collection-filters .b-block_list li input[type="checkbox"]:checked:before {
  content: '\e828';
  vertical-align: middle;
  font-size: 16px;
}

.b-collection-filters .b-block_list.orders li.selected::before {
  content: '\e8ad';
  color: var(--cl-slct);
}

.b-collection-filters .b-block_list.orders li::before,
.b-collection-filters .b-block_list.orders li.selected::before {
  margin: 0 0.75rem 0 0;
  vertical-align: middle;
  font-size: 15px;
}

.b-collection-filters .b-block_list.orders li::before {
  content: '\f096';
  color: var(--ch-bl);
}

/*помощь*/

.b-collection-filters .b-block_list li .b-question::before {
  content: '\eaf6';
  height: auto;
  margin: 0;
  background: transparent;
  color: var(--cl-help);
  font-size: 13px;
  width: 1rem;
}

.b-collection-filters .b-block_list li .b-question {
  position: absolute;
  right: 1.999rem;
}

.b-tooltipped.mobile {
  cursor: help;
}

/* Оформление вкладок */

#profiles_show div[data-dynamic="tabs"] {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 30px auto;
    gap: 1em;
}


.nav_btn {
  width: 20px;
  background: transparent;
  height: 12px;
  display: block;
  margin: 2pt 4pt 0pt 3pt;
  cursor: pointer;
  border-top: 2pt solid black;
}

.nav_btn:before {
  content: " ";
  width: 20px;
  background: black;
  height: 2px;
  margin: 3px 3px 0;
  position: absolute;
}

.nav_btn:after {
  content: " ";
  width: 20px;
  background: black;
  height: 2px;
  display: block;
  margin: 6pt 0 0;
  position: absolute;
}

.nav_btn:hover:before {
  margin: 3px 0 0;
}

.nav_btn.active:before {
  background: indianred;
  margin: 3px 0 0;
}


.c-orange .b-spoiler_block > span,
.c-orange .b-spoiler_block.is-opened > span,
.c-orange .b-spoiler_block > div {
  border-radius: 0 !important;
}

.c-orange .b-spoiler_block.is-opened > span {
  border-radius: 0 !important;
}

.c-orange .b-spoiler_block > span {
  background: #fff4ee !important;
  border-left: 4px solid #ffc48b !important;
  border: 0;
  border-radius: 0;
}

.c-orange .b-spoiler_block > span:after {
  
  content: '\e82c';
  color: var(--cl-or-sp);
}

.c-orange .b-spoiler_block.is-opened > span:after {
  content: '\e8b9';
}

.c-orange .b-spoiler_block > div {
  background: #fff4ee !important;
  border-left: 4px solid #ffc48b !important;
  border: 0;
  margin-top: 1pt;
}

.c-orange .b-spoiler_block > span:hover {
  background-color: var(--spl-hv-cl) !important;
}

/*====*/

.very-pale-blue .b-spoiler_block > span,
.very-pale-blue .b-spoiler_block.is-opened > span,
.very-pale-blue .b-spoiler_block > div {
  border-radius: 0 !important;
}

.very-pale-blue .b-spoiler_block.is-opened > span {
  border-radius: 0 !important;
}

.very-pale-blue .b-spoiler_block > span {
  background: #e8e4ff !important;
  border-left: 4px solid #a0a6f7 !important;
  border: 0;
  border-radius: 0;
}

.very-pale-blue .b-spoiler_block > span:after {
  content: '\e82c';
  color: var(--vr-pl-bl-cl);
}

.very-pale-blue .b-spoiler_block.is-opened > span:after {
  content: '\e8b9';
}

.very-pale-blue .b-spoiler_block > div {
  margin-top: 1px;
  background: var(--vr-pl-bl-cl-op) !important;
  border-left: 4px solid #a0a6f7 !important;
  border: 0;
}

.very-pale-blue .b-spoiler_block > span:hover {
  background-color: var(--vr-pl-bl-cl-op-hv) !important;
}

/*Постеры Аниме*/

.rate_module > .c-column > strong {
  position: absolute;
  top: 0.4em;
  padding: 6px 8px;
  background: var(--w);
  border-radius: 0 5px 5px 0;
  color: black;
  font-size: 14px;
  line-height: 10px;
  pointer-events: none;
  border: 2px solid #9796e4;
}

.rate_module > .c-column .c-column {
  width: 100%;
  margin: 0 !important;
}

.rate_module > .c-column > .text {
  position: absolute;
  right: 0;
  top: 80%;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.7);
  font-size: 13px;
  line-height: 1.3;
  overflow: hidden;
  transition: 0.2s ease;
  z-index: 9;
}

/*кнопки рекомандации\ блок лист*/

.b-list li:before {
  display: none;
}

.b-list {
  margin-left: 17px;
  margin-top: 1.5rem;
}

ul.b-block_list.statuses.anime-params,
ul.b-block_list.kinds.anime-params,
ul.b-block_list.orders.anime-params.subcontent {
  margin-top: 1rem;
}

/* центрирование заголовок на страницах аниме манга ранобэ*/

#animes_collection_index .subheadline.m5, #profiles_show .headline, #profiles_show .midheadline,  #profiles_show .subheadline  {
  text-align: center;
}

/* пагинация*/

a.link.link-prev,
a.link.link-next {
  font-size: 0;
}

a.link.link-next:before,
a.link.link-prev:before {
  font-size: 24px;
  background: #c5c5c55c;
  border-radius: 100px;
  color: #717171;
}

a.link.link-next:before {
  content: "keyboard_arrow_right";
}

a.link.link-prev:before {
  content: "keyboard_arrow_left";
}

.p-animes_collection-index .pagination .no-hover,
.p-mangas_collection-index .pagination .no-hover,
.p-recommendations-index .pagination .no-hover,
.p-userlist_comparer-show .pagination .no-hover {
  font-size: 14px;
  vertical-align: 5px;
  margin-top: 2em;
  margin-bottom: 4em;
}

/*галочка в списке*/

.item-sign:before {
  content: '\ee3b';
}

/*плюс*/

.item-add:before {
  content: '\e82c';
  vertical-align: middle;
}

/*ТОПИК*/

.b-hot_topics-v2 {
  background-color: #fdfbe4;
  border-bottom: 1px solid #fdfbe4;
}


/*красная линия*/

.kra {
  border-left: 8px solid var(--kra);
  padding-left: 10px;
}

/*желтая линия*/

.jel {
  border-left: 8px solid var(--jel);
  padding-left: 10px;
}

/*зеленая линия*/
.zel {
  border-left: 8px solid var(--zel);
  padding-left: 10px;
}

/*голубая линия*/
.gol {
  border-left: 8px solid var(--gol);
  padding-left: 10px;
}

.gol,
.zel,
.jel,
.kra {
  font-family: "Open Sans";
}

/*===*/
.p-profiles .profile-head .c-info .c-additionals div:after {
  visibility: hidden;
}

/*===*/



/* Обо мне */


.mes-collections {
        display: grid;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
        gap: 3pt;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
}

.la-collection {
        position: relative;
        overflow: hidden;
        border-radius: 4pt;
        display: inline-flex;
        max-height: 200px;
        height: 100%;
}

.pict {
        display: flex;
}

.pict img {
        width: 100%;
        height: 203px;
        object-fit: cover;
}

.zagolovok a {
        color: var(--w) !important;
}

.zagolovok a:hover {
        color: var(--zgl-h) !important;
}

.zagolovok {
        position: absolute;
        background: var(--zglv);
        color: var(--w);
        bottom: 0;
        text-align: center;
        padding: 5px;
        font-weight: 800;
        font-size: 20px;
        width: 100%;
}
