:root {
        --bg-color: #fafafa;
        --link: #67827a;
        --second: #eceaea;
        --second-hover: #d6d6d6;
        --pl: #a2a2a229;
        --main-color: #65666b;
        --link-hover: #b38d38;
        --col: white;
        --second-color:#b99898;
        --second-light:#f3f3f3;
}

body {
        background: var(--bg-color);
        font-family: "Nunito", sans-serif;
        color: var(--main-color);
        text-rendering: geometricPrecision;
}

:focus {
        outline: none;
}

a {
        text-decoration: none;
        color: var(--link);
}
a:hover {
        color: var(--link-hover);
}
h3 {
        margin-block-start: 0.3em;
        margin-block-end: 0.3em;
}

.profil {
        order: 2;
}


.tabcontent {
        background: var(--col);
}

.horizontal-line {
        border-top: 1px solid var(--pl);
}

.vertical-line {
        border-left: 1px solid var(--pl);
}

.container {
        width: 1000px;
        margin: 3em auto auto auto;
        display: grid;
        grid-template-columns: 200px 800px;
        gap: 1em;
}

.avatar {
        width: 200px;
        height: 250px;
        overflow: hidden;
        border-radius: 4pt 4pt 0 0;
        border-bottom: 0;
}

.avatar img {
        width: 100%;
        object-fit: cover;
        height: 100%;
}

.left {
        gap: 1em;
}

.left,
.right {
        display: grid;
        align-self: flex-start;
}

.social {
        display: grid;
        grid-template-columns: 100px 100px;
        background: var(--second);
        border-radius: 0 0 4pt 3pt;
        text-align: center;
        order: 3;
}

.social > a {
        padding: 4pt;
        transition: 0.6s;
}
.social > a:hover {
        background: var(--second-hover);
}

.social > a:nth-child(1) {
        border-right: 1px solid #00000024;
}

.social > a:hover:nth-child(1) {
        border-radius: 0 0 0 3pt;
}

.social > a:hover:nth-child(2) {
        border-radius: 0 0 3pt 0;
}

.social > a:nth-child(2) {
        color: #93b3d6;
}

.notice {
        text-align: center;
        border-radius: 2pt;
        display: grid;
        grid-auto-flow: row;
        order: 3;
        gap: 1px;
        overflow:hidden;
}

.notice:before {
        content: "INFO";
        position: absolute;
        margin-top: 0;
        margin-left: 5px;
        font-weight: bolder;
        font-size: 10px;
        padding: 2px;
        color: green;
}

span.nickname,
span.status {
        background: var(--second);
        padding: 1.3pt;
}

span.nickname {
    font-weight: bold;
}

.link img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
        object-position: 0 0;
        text-align: center;
}

.link, .icon {
    padding: 2pt;
    background: var(--second-light);
}

.history {
    display: grid;
    grid-auto-flow: column;
    border-radius: 2px;
    order: 1;
    gap: 1px;
}


.link:before {
    right: .999em;
    content: "прочитано";
    position: absolute;
    font-size: 9px;
    bottom: 0;
}



.link {
    font-size: 11px;
    display: grid;
    align-items: center;
    text-align: center;
    position: relative;
    grid-auto-flow: column;
    background: var(--second-light);
    border-radius: 0 3pt 3pt 0;
}


.icon {
    display: inline-grid;
    align-items: center;
    background: var(--second-light);
    border-radius: 3pt 0 0 3pt;
}

i.icn-icon.icon-history {
        cursor: help;
}

/* ТУЛТИП */
[tooltip] {
        position: relative;
}

[tooltip]::before,
[tooltip]::after {
        text-transform: none;
        /font-size: 0.9em;
        line-height: 1;
        user-select: none;
        pointer-events: none;
        position: absolute;
        display: none;
        opacity: 0;
}
[tooltip]::before {
        content: "";
        border: 5px solid transparent;
        z-index: 1001;
}
[tooltip]::after {
        content: attr(tooltip);
        font-family: Helvetica, sans-serif;
        text-align: center;

        min-width: 3em;
        max-width: 21em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1ch 1.5ch;
        border-radius: 0.3ch;
        box-shadow: 0 1em 2em -0.5em rgba(0, 0, 0, 0.35);
        background: #333;
        color: #fff;
        z-index: 1000;
}

[tooltip]:hover::before,
[tooltip]:hover::after {
        display: block;
}

[tooltip=""]::before,
[tooltip=""]::after {
        display: none !important;
}

[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
        bottom: 100%;
        border-bottom-width: 0;
        border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
        bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
        left: 50%;
        transform: translate(-50%, -0.5em);
}

[tooltip][flow^="down"]::before {
        top: 100%;
        border-top-width: 0;
        border-bottom-color: #333;
}
[tooltip][flow^="down"]::after {
        top: calc(100% + 5px);
}
[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
        left: 50%;
        transform: translate(-50%, 0.5em);
}

[tooltip][flow^="left"]::before {
        top: 50%;
        border-right-width: 0;
        border-left-color: #333;
        left: calc(0em - 5px);
        transform: translate(-0.5em, -50%);
}
[tooltip][flow^="left"]::after {
        top: 50%;
        right: calc(100% + 5px);
        transform: translate(-0.5em, -50%);
}

[tooltip][flow^="right"]::before {
        top: 50%;
        border-left-width: 0;
        border-right-color: #333;
        right: calc(0em - 5px);
        transform: translate(0.5em, -50%);
}
[tooltip][flow^="right"]::after {
        top: 50%;
        left: calc(100% + 5px);
        transform: translate(0.5em, -50%);
}

@keyframes tooltips-vert {
        to {
                opacity: 0.9;
                transform: translate(-50%, 0);
        }
}

@keyframes tooltips-horz {
        to {
                opacity: 0.9;
                transform: translate(0, -50%);
        }
}

[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
        animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
        animation: tooltips-horz 300ms ease-out forwards;
}

/* ТАБЫ */

.tab {
        overflow: hidden;
        border: 1px solid var(--pl);
        background: var(--col);
        display: grid;
        grid-auto-flow: column;
        border-radius: 4pt 4pt 0 0;
}

.tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 17px;
}

.tab button:nth-child(odd) {
        border-right: 1px solid var(--pl);
}

.tab button.active {
        color: var(--second-color);
}

.tabcontent {
        display: none;
        padding: 18px 12px;
        border: 1px solid var(--pl);
        border-top: none;
        border-radius: 0 0 4pt 4pt;
}

.favorite img {
        width: 100px;
        border-radius: 3pt;
        height: 140px;
        object-fit: cover;
}

.favorite {
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(auto-fill, 129px);
        row-gap: 14px;
        justify-content: center;
}

.overlay {
        position: relative;
        overflow: hidden;
}

.overlay:before {
        background: rgb(1 1 1 / 1%);
        position: absolute;
        width: 100%;
        height: 100%;
        content: "";
}

/*======*/
@media (max-width: 1124px) {
        html:before {
                content: " Этот сайт не для моб версий";
                vertical-align: middle;
                width: 100%;
                height: 100%;
                display: inline-grid;
                align-items: center;
                margin: 0 auto;
                text-align: center;
        }

        body {
                display: none;
        }
}
