

    @import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
        --bg: #efefef;
        --color-one: #676565;
        --color-two: black;
        --font: "Roboto Condensed", sans-serif;
        --btn: #5f5f5f;
        --surface: white;
        --hv: #c3c3c32e;
        --ripple: #c3c3c3d1;
        --scroll: black;
        --rounded: 100pt;
        --r3: 3pt;
        --active: salmon;
        --menu: whitesmoke;



}


[data-theme="dark"] {
        --bg: #202124;
        --color-one: #d2d2d2;
        --color-two: white;
        --btn: whitesmoke;
        --surface: #18191d;
        --hv: #bebfd81f;
        --scroll: white;
        --tire: black;
        --active: #b6e6c9;
        --menu: #0b0d10;
}

::-webkit-scrollbar { width: 9px; height:9px; }
::-webkit-scrollbar-thumb {
    background: var(--scroll);
    border: 3px solid var(--bg);
}
::-webkit-scrollbar-track {
    background: transparent;
    border: 4px solid transparent;
}


html, body {padding:0; margin:0;}




body {
        background-color: var(--bg);
        font-family: var(--font);
            margin: 0;
    box-sizing: border-box;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-one);
}

a:hover {
color: var(--color-two);
}


a:active {
    color: var(--active);
}

/* вертикальное меню */

.all {
    width: fit-content;
    display: flex;
    flex-direction: column;
    place-items: center;
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    margin: 0 auto;
}

.menu nav {
        display: flex;
        flex-direction: column;
}

.menu {
        background-color: var(--menu);
        width: fit-content;
        min-width: 100px;
        text-align: center;
        border-radius: var(--r3);
        position: relative;
        padding: 0.55em;
        display: none;
        transition: 1s;
}


.click {
        display: block;
}

.hre {
        cursor: pointer;
}


.menu a:hover {
        
        background: var(--hv);
}

.menu a {
        margin-top: 0.22em;
        padding: 0.35em;
        border-radius: var(--r3);
}

/* аватар */

img.hre {
        border-radius: var(--rounded);
        max-width: 100%;
        object-fit: cover;
        box-shadow: 0px 0px 0px 8px var(--bg);
        z-index: 1;
}






/* тема */

.cc {
    width: 30px;
    margin-top: 1em;
    margin-left: .55em;
}

.mode input#checkbox {
    display: none;
}

label.mode {
        color: var(--btn);
        cursor: pointer;
        user-select: none;
}

.mode .ripplelink {
    width: 30px;
    height: 30px;
    border-radius: 100pt;
    text-align: center;
}



/* Ripple */

.animate {
        animation: ripple 0.65s linear;
}

@keyframes ripple {
        100% {
                opacity: 0;
                transform: scale(2.5);
        }
}

.ripplelink {
        display: block;
        position: relative;
        overflow: hidden;
        transition: all 0.4s ease;
        z-index: 0;
}

.ink {
        display: block;
        position: absolute;
        background: var(--ripple);
        border-radius: 100%;
        transform: scale(0);
}



/* боковые меню */


@media (max-width:980px)  { 
.m-menu {
    display: flex;
    margin-left: auto;
    position: relative;
    width: fit-content;
    margin-bottom: 1em;
    left: -1.3em;
    background: var(--surface);
    padding: 5pt;
    border-radius: var(--r3);
    z-index: 1;
}

.m-menu dt {
    margin-top: .5em !important;
    z-index: 1;
    left: auto !important;
    }

        .m-menu a {
    margin-left: .22em;

}
}


@media (min-width:981px) { 
.m-menu {
    display: flex;
    gap: 1em;
    flex-direction: column;
    background: var(--surface);
    width: 50px;
    align-items: center;
    padding-top: .777em;
    padding-bottom: .777em;
    border-radius: 3pt;
    position: fixed;
    top: 50%;
    margin-top: -50px;
    z-index: 1;
}

.m-menu a:nth-child(2):before, .m-menu a:nth-child(7):before {
    width: 45px;
    background: var(--tire);
    content: '';
    height: 1px;
    position: absolute;
    left: 0;
    margin-top: -10px !important;
    right: 0;
    margin: 0 auto;
}




}





.m-menu a:hover dt {
    visibility: visible;
}
.m-menu dt {
    position: absolute;
    left: 55px;
    margin-top: -26px;
    background: black;
    padding: 3pt;
    color: white;
    border-radius: 2pt;
    visibility: hidden;
}

 /* центр */

.center>* {
    margin-left: 1em;
    margin-top: 1em;
}

@media (max-width: 850px) {
.center>* {
     margin-left: 0;
}
}

.center {
    width: 100%;
    display: flex;
    margin-top: 2em;
    justify-content: center;
}

@media (max-width: 850px) {  

.center {
    flex-direction: column;
    text-align: center;
}

}

/* контент */

@media(max-width:850px)  {
    div#container {
    width: 100% !important;
    min-width: inherit !important; 
    max-width: inherit !important;
}
}


div#container {
    max-width: 700px;
    width: 100%;
    background: var(--surface);
    border-radius: var(--r3);
    overflow: hidden;
    position: relative;
    min-width: 700px;
}




/* лист и грид */



#container .list li { width: 100%;    border-bottom: 1px solid var(--bg); }


#container ul {
    list-style: none;
    color: var(--color-one);
    padding: 0;
}



.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}


.grid li {
    flex: 1 1 16.555%;
    padding: 20px;
}

/* кнопка лист-грид */
.buttons button {
    border: 0;
    background: var(--surface);
    padding: 5pt;
    color: var(--color-one);
    cursor: pointer;
}

.buttons button:hover {
    background: var(--hv);
}

#container .buttons { margin-bottom: 20px;  display: flex;}


/*  - - -   */

.list li .o img {
    width: 100%;
    object-fit: cover;
    border-radius: var(--rounded);
    height: 100%;
    max-width: 40px;
    max-height: 40px;
}

.list li .o> a {

 display: flex;

}

.list li .o p {
    margin: .2em;
    margin-left: 1em;
        align-self: center;
}



.list li .o{
    display: flex;
    padding: 5pt;
}



.grid li .o {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


.grid li .o> a {
    margin-top: 3pt;


}



.grid li .o img {
    max-width: 100px;
    width: 100%;
    border-radius: var(--r3);
}



/* колонки */




.wallet>* {
    margin-top: 3pt;
}



.right { 
     display: flex;
    flex-direction: column;
    }


.right>* {
        max-width: 100%;
     background: var(--surface);
    border-radius: var(--r3);
    padding: 5px;
    font-family: oswald;
    font-weight: 300;
    min-width: fit-content;
     margin-top: 3pt;
     color: var(--color-one)

}



@media (max-width: 850px) {
    .right {
    flex-direction: row;
    display: flex;
    margin-right: 1em;
    place-items: center;
}
.right>* { 
margin-left: 1em; 
}
}
