@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500&display=swap");

BODY {
        background: #282931;
        -webkit-font-smoothing: antialiased;
        min-height: 100vh;
        display: grid;
        place-items: center;
        background: #f6f9fd;
        color: #1c212e;
        font-family: "Ubuntu", sans-serif;
}

.emoji-list li {
        padding-left: 4px;
}
.emoji-list li:nth-child(1)::marker {
        content: "🐼";
}
.emoji-list li:nth-child(2)::marker {
        content: "🦥";
}
.emoji-list li:nth-child(3)::marker {
        content: "🐭";
}
.emoji-list li:not(:last-child) {
        margin-bottom: 8px;
}
